<html>
<head>
	<title>Epic Button Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme --> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect();
			$('#button_count').click(function(){
				socket.emit('count_button');
			});
			socket.on('increase_count', function(data){
				$('#message').html("<h1>The button has been pushed " + JSON.stringify(data.count) + " time(s).");
			});
			$('#button_reset').click(function(){
				socket.emit('reset_button');
			});
			socket.on('reset_count', function(data){
				$('#message').html("<h1>The button has been pushed " + JSON.stringify(data.count) + " time(s).");
			});
		});
	</script>
</head>
<body>
	<div class='container text-center'>
		<h1>SUP</h1>
		<div id="message"></div>
		<p>push the button to up the count</p>
		<button id="button_count" class="btn btn-primary btn-lg">Click Me!</button>
		<hr>
		<button id="button_reset" class="btn btn-danger btn-md">Reset</button>
	</div>
</body>
</html>